{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 4,
  "proseWrap":"never",
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}